.tab-list {
  @extend %clearfix;
  margin: 0 auto 30px;
  .tab-item {
    float: left;
    margin-right: 12px;
    text-align: center;
    text-transform: uppercase;
    &:last-child {
      margin-right: 0;
    }
  }
  .item-link {
    display: inline-block;
    padding: 12px 20px;
    border-radius: 4px;
    &.active {
      background: $color-primary;
      color: $color-c;
    }
  }
}

@media screen and (max-width: 959px) {
  .tab-list {
    .tab-item {
      margin-right: 5px;
    }
    .item-link {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 566px) {
  .tab-list {
    .tab-item {
      margin-right: 0;
    }
    .item-link {
      padding: 8px;
      font-size: 12px;
    }
  }
}
