@font-face {
  font-family: 'Conv_utm-avo';
  src: url('../assets/fonts/utm-avo.eot');
  src: local('☺'), 
  url('../assets/fonts/utm-avo.woff') format('woff'), 
  url('../assets/fonts/utm-avo.ttf') format('truetype'), 
  url('../assets/fonts/utm-avo.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_UTM AvoBold';
  src: url('../assets/fonts/UTM AvoBold.eot');
  src: url('../assets/fonts/UTM AvoBold.woff') format('woff'), 
  url('../assets/fonts/UTM AvoBold.ttf') format('truetype'), 
  url('../assets/fonts/UTM AvoBold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Conv_ARIALMT';
  src: url('../assets/fonts/ARIALMT.eot');
  src: local('☺'), 
  url('../assets/fonts/ARIALMT.woff') format('woff'), 
  url('../assets/fonts/ARIALMT.ttf') format('truetype'), 
  url('../assets/fonts/ARIALMT.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*
* Font family
*/
$font-family-body: 'Conv_utm-avo', sans-serif;
$font-title: 'Conv_UTM AvoBold';
$font-description: 'Conv_ARIALMT', sans-serif;

/*
* Color
*/
$color-primary: #0b9444;
$color-a: #282828;
$color-b: #555555;
$color-c: #ffffff;
$color-d: #000000;
$color-e: #229e56;
$color-f: #4bc15b;
$color-g: #e0e0e0;
$color-h: #b7b7b7;
$color-i: #686868;
$color-j: #9f9f9f;
$color-k: #cccccc;
$color-l: #c6c6c6;
$color-background-1: #f7f7f7;
$color-background-2: #39b54a;
