.header {
  padding: 8px 0;
}
.logo {
  float: left;
}
.main-menu {
  float: right;
}
.menu-list {
  @extend %clearfix;
  .menu-item {
    float: left;
  }
  .item-link {
    text-transform: uppercase;
    display: inline-block;
    padding: 26px 26px 28px;
    position: relative;
    &.active {
      color: $color-f;
    }
    &::after {
      content: '';
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: $color-b;
      position: absolute;
      top: 30px;
      right: -2px;
    }
  }
}
