<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Diep Sam</title>
</head>
<body>
  <head class="header">
    <div class="container">
      <div class="logo">
        <img class="logo-thumbnail" src="../assets/images/logo_big.png" alt="logo">
      </div>
      <nav class="main-menu">
        <ul class="menu-list">
          <li class="menu-item">
            <a href="">home</a>
          </li>
          <li class="menu-item">
            <a href="">about us</a>
          </li>
          <li class="menu-item">
            <a href="">products</a>
          </li>
          <li class="menu-item">
            <a href="">projects</a>
          </li>
          <li class="menu-item">
            <a href="">news-event</a>
          </li>
          <li class="menu-item">
            <a href="">gallary</a>
          </li>
          <li class="menu-item">
            <a href="">contact</a>
          </li>
        </ul>
      </nav>
    </div>
  </head>
  <div class="page-content">
    <section class="banner">
      <div class="container">
        <h3 class="title">Quality Policy</h3>
        <h1 class="slogan">Commitment to product quality</h1>
        <a href="" class="view-more">view more</a>
      </div>
    </section>
    <section class="about-us">
      <div class="container">
        <div class="section-title">
          <h2 class="title">about us</h2>
          <img class="thumbnail" src="../assets/images/logo_small.png" alt="logo">
        </div>
        <ul class="about-us-list">
          <li class="item">
            <div class="inner">
              <a href="">
                <h4 class="title">Interior design consultant</h4>
                <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <img class="thumbnail" src="../assets/images/about_us_1.png" alt="about_us_1">
              </a>
            </div>
          </li>
          <li class="item">
            <div class="inner">
              <a href="">
                <h4 class="title">provided interior products</h4>
                <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <img class="thumbnail" src="../assets/images/about_us_2.png" alt="about_us_2">
              </a>
            </div>
          </li>
          <li class="item">
            <div class="inner">
              <a href="">
                <h4 class="title">policy quality</h4>
                <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem. Sed ut perspiciatis unde omnis iste natus error sit voluptatem</p>
                <img class="thumbnail" src="../assets/images/about_us_3.png" alt="about_us_3">
              </a>
            </div>
          </li>
        </ul>
      </div>
    </section>
    <section class="products">
      <div class="container">
        <div class="section-title">
          <h2 class="title">products</h2>
          <img class="thumbnail" src="../assets/images/logo_small.png" alt="logo">
        </div>
        <ul class="tab-list">
          <li class="item">wood</li>
          <li class="item">led light</li>
          <li class="item">curtain</li>
          <li class="item">wood floor</li>
          <li class="item">wallpaper</li>
          <li class="item">carpet</li>
        </ul>
      </div>
      <ul class="products-list">
        <li class="item">
          <a href="">
            <img src="../assets/images/product_1.png" alt="product_1">
          </a>
        </li>
        <li class="item">
          <a href="">
            <img src="../assets/images/product_2.png" alt="product_2">
          </a>
        </li>
        <li class="item">
          <a href="">
            <img src="../assets/images/product_3.png" alt="product_3">
          </a>
        </li>
        <li class="item">
          <a href="">
            <img src="../assets/images/product_4.png" alt="product_4">
          </a>
        </li>
        <li class="item">
          <a href="">
            <img src="../assets/images/product_5.png" alt="product_5">
          </a>
        </li>
        <li class="item">
          <a href="">
            <img src="../assets/images/product_6.png" alt="product_6">
          </a>
        </li>
        <li class="item">
          <a href="">
            <img src="../assets/images/product_7.png" alt="product_7">
          </a>
        </li>
        <li class="item">
          <a href="">
            <img src="../assets/images/product_8.png" alt="product_8">
          </a>
        </li>
      </ul>
      <div class="section-has-bg-green">
        <a href="" class="view-more">view more</a>
      </div>
    </section>
    <section class="projects">
      <div class="container">
        <div class="section-title">
          <h2 class="title">projects</h2>
          <img class="thumbnail" src="../assets/images/logo_small.png" alt="logo">
        </div>
        <ul class="tab-list">
          <li class="item">modern</li>
          <li class="item">utilities</li>
          <li class="item">classic</li>
        </ul>
        <ul class="projects-list">
          <li class="item-by-collumn">
            <a href="">
              <img src="../assets/images/project_1.png" alt="">
            </a>
            <a href="">
              <img src="../assets/images/project_5.png" alt="">
            </a>
          </li>
          <li class="item-by-collumn">
            <a href="">
              <img src="../assets/images/project_2.png" alt="">
            </a>
            <a href="">
              <img src="../assets/images/project_6.png" alt="">
            </a>
          </li>
          <li class="item-by-collumn">
            <a href="">
              <img src="../assets/images/project_3.png" alt="">
            </a>
            <a href="">
              <img src="../assets/images/project_7.png" alt="">
            </a>
            <a href="">
              <img src="../assets/images/project_8.png" alt="">
            </a>
          </li>
          <li class="item-by-collumn">
            <a href="">
              <img src="../assets/images/project_4.png" alt="">
            </a>
            <a href="">
              <img src="../assets/images/project_9.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="news">
      <div class="container">
        <div class="section-title">
          <h2 class="title">news - event</h2>
          <img class="thumbnail" src="../assets/images/logo_small.png" alt="logo">
        </div>
        <ul class="news-list">
          <li class="item">
            <a href="">
              <img class="thumbnail" src="../assets/images/news_1.png" alt="">
              <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do consectetur adipisicing elit</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </a>
          </li>
          <li class="item">
            <a href="">
              <img class="thumbnail" src="../assets/images/news_2.png" alt="">
              <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do consectetur adipisicing elit</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </a>
          </li>
          <li class="item">
            <a href="">
              <img class="thumbnail" src="../assets/images/news_3.png" alt="">
              <p class="title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do consectetur adipisicing elit</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
    <section class="gallery">
      <div class="container">
        <div class="section-title">
          <h2 class="title">gallery</h2>
          <img class="thumbnail" src="../assets/images/logo_small.png" alt="logo">
        </div>
        <ul class="gallary-list">
          <li class="item">
            <a href="">
              <img class="thumbnail" src="../assets/images/gallary_1.png" alt="">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </a>
          </li>
          <li class="item">
            <a href="">
              <img class="thumbnail" src="../assets/images/gallary_2.png" alt="">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </a>
          </li>
          <li class="item">
            <a href="">
              <img class="thumbnail" src="../assets/images/gallary_3.png" alt="">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </a>
          </li>
          <li class="item">
            <a href="">
              <img class="thumbnail" src="../assets/images/gallary_4.png" alt="">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </div>
  <footer class="footer">
    <div class="footer-top">
      <div class="map"></div>
      <div class="section-has-bg-green">
        <p class="content">Contact with us</p>
      </div>
      <div class="contact">
        <form class="user-info-frm" action="">
          <p class="label">Please enter your infomations below:</p>
          <input class="contact-input" type="text" placeholder="Name">
          <input class="contact-input" type="text" placeholder="Phone Number">
          <textarea class="contact-textarea" cols="30" rows="10" placeholder="Content"></textarea>
        </form>
        <div class="company-info">
          <h3 class="name">Company Interior Design Consultancy Home Stay</h3>
          <p class="field">Consulting - Interior design</p>
          <p class="address"><span class="label">Address: </span>109 Nguyen Hien, Son Tra, Da Nang</p>
          <p class="phonenumber"><span class="label">Phone: </span>01287069177</p>
          <ul class="social">
            <li class="item">
              <a href="">
                <img src="../assets/images/facebook.png" alt="">
              </a>
            </li>
            <li class="item">
              <a href="">
                <img src="../assets/images/twitter.png" alt="">
              </a>
            </li>
            <li class="item">
              <a href="">
                <img src="../assets/images/google.png" alt="">
              </a>
            </li>
            <li class="item">
              <a href="">
                <img src="../assets/images/skype.png" alt="">
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="coppyright">&copy;2017 -  Copyright by Home Stay Company Co.ltd</p>
      <p class="design-by">Design by <span class="name">DavidDong.vn</span></p>
    </div>
  </footer>
</body>
</html>