<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Diep Sam</title>
  <link rel="stylesheet" type="text/css" href="../css/style.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3/dist/isotope.pkgd.min.js"></script>
</head>
<body>
  <header class="header">
    <div class="container">
      <a href="" class="logo">
        <img class="logo-thumbnail" src="../assets/images/logo_big.png" alt="logo">
      </a>
      <nav class="navigation">
        <ul class="main-menu">
          <li class="menu-item">
            <a class="item-link active" href="">home</a>
          </li>
          <li class="menu-item">
            <a class="item-link" href="">about us</a>
          </li>
          <li class="menu-item">
            <a class="item-link" href="">products</a>
          </li>
          <li class="menu-item">
            <a class="item-link" href="">projects</a>
          </li>
          <li class="menu-item">
            <a class="item-link" href="">news-event</a>
          </li>
          <li class="menu-item">
            <a class="item-link" href="">gallary</a>
          </li>
          <li class="menu-item">
            <a class="item-link" href="">contact</a>
          </li>
        </ul>
        <div class="toggle-menu"></div>
      </nav>
    </div>
  </header>

  <main class="page-content">
    <section class="banner">
      <div class="container">
        <div class="caption">
          <h3 class="title">Quality Policy</h3>
          <h1 class="slogan">Commitment to product quality</h1>
          <a href="" class="btn btn-primary">view more</a>
        </div>
      </div>
    </section>

    <section class="about-us">
      <div class="container">
        <div class="section-title">
          <h2 class="title">about us</h2>
          <img class="title-thumbnail" src="../assets/images/logo_small.png" alt="logo">
        </div>
        <ul class="about-us-list row">
          <li class="item col-4">
            <a href="">
              <h4 class="title"><span class="text-green">Interior</span> design consultant</h4>
              <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore verutatis et quasi architecto beatae vitar dicta sunt explicabo. Nemo enim ipsam voluptatem quia volupatas sit aspernatur aut odit aut fugit.</p>
              <img class="thumbnail" src="../assets/images/about_us_1.png" alt="about_us_1">
            </a>
          </li>
          <li class="item col-4">
            <a href="">
              <h4 class="title"><span class="text-green">provided</span> interior products</h4>
              <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore verutatis et quasi architecto beatae vitar dicta sunt explicabo. Nemo enim ipsam voluptatem quia volupatas sit aspernatur aut odit aut fugit.</p>
              <img class="thumbnail" src="../assets/images/about_us_2.png" alt="about_us_2">
            </a>
          </li>
          <li class="item col-4">
            <a href="">
              <h4 class="title"><span class="text-green">policy</span> quality</h4>
              <p class="description">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore verutatis et quasi architecto beatae vitar dicta sunt explicabo. Nemo enim ipsam voluptatem quia volupatas sit aspernatur aut odit aut fugit.</p>
              <img class="thumbnail" src="../assets/images/about_us_3.png" alt="about_us_3">
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="products">
      <div class="container">
        <div class="section-title">
          <h2 class="title">products</h2>
          <img class="title-thumbnail" src="../assets/images/logo_small.png" alt="logo">
        </div>
      </div>
      <div class="tabs">
        <div class="container">
          <ul class="tab-link">
            <li class="tab-item"><a class="item-link active" href="#tab-product-1">wood</a></li>
            <li class="tab-item"><a class="item-link" href="#tab-product-2">led light</a></li>
            <li class="tab-item"><a class="item-link" href="#tab-product-3">curtain</a></li>
            <li class="tab-item"><a class="item-link" href="#tab-product-4">wood floor</a></li>
            <li class="tab-item"><a class="item-link" href="#tab-product-5">wallpaper</a></li>
            <li class="tab-item"><a class="item-link" href="#tab-product-6">carpet</a></li>
          </ul>
        </div>
        <div class="tab-content">
          <div id="tab-product-1">
            <ul class="products-list">
              <li class="item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/product_1.png" alt="product_1">
                  <p class="name">high quality wooden wall</p>
                </a>
              </li>
              <li class="item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/product_2.png" alt="product_2">
                  <p class="name">high quality wooden wall</p>
                </a>
              </li>
              <li class="item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/product_3.png" alt="product_3">
                  <p class="name">high quality wooden wall</p>
                </a>
              </li>
              <li class="item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/product_4.png" alt="product_4">
                  <p class="name">high quality wooden wall</p>
                </a>
              </li>
              <li class="item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/product_5.png" alt="product_5">
                  <p class="name">high quality wooden wall</p>
                </a>
              </li>
              <li class="item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/product_6.png" alt="product_6">
                  <p class="name">high quality wooden wall</p>
                </a>
              </li>
              <li class="item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/product_7.png" alt="product_7">
                  <p class="name">high quality wooden wall</p>
                </a>
              </li>
              <li class="item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/product_8.png" alt="product_8">
                  <p class="name">high quality wooden wall</p>
                </a>
              </li>
            </ul>
          </div>
          <div id="tab-product-2"></div>
          <div id="tab-product-3"></div>
          <div id="tab-product-4"></div>
          <div id="tab-product-5"></div>
          <div id="tab-product-6"></div>
        </div>
      </div>
      <div class="section-has-bg-green">
        <a href="" class="btn btn-primary">view more</a>
      </div>
    </section>

    <section class="projects">
      <div class="container">
        <div class="section-title">
          <h2 class="title">projects</h2>
          <img class="title-thumbnail" src="../assets/images/logo_small.png" alt="logo">
        </div>
        <div class="tabs">
          <ul class="tab-link">
            <li class="tab-item"><a class="item-link" href="#tab-project-1">modern</a></li>
            <li class="tab-item"><a class="item-link" href="#tab-project-2">utilities</a></li>
            <li class="tab-item"><a class="item-link active" href="#tab-project-3">classic</a></li>
          </ul>
          <div class="tab-content">
            <div id="tab-project-1">
              <ul class="projects-list">
                <li class="grid-sizer"></li>
                <li class="project-item">
                  <a class="item-link" href="">
                    <img class="thumbnail" src="../assets/images/project_1.png" alt="">
                  </a>
                </li>
                <li class="project-item">
                  <a class="item-link" href="">
                    <img class="thumbnail" src="../assets/images/project_2.png" alt="">
                  </a>
                </li>
                <li class="project-item">
                  <a class="item-link" href="">
                    <img class="thumbnail" src="../assets/images/project_3.png" alt="">
                  </a>     
                </li>
                <li class="project-item">
                  <a class="item-link" href="">
                    <img class="thumbnail" src="../assets/images/project_4.png" alt="">
                  </a>
                </li>
                <li class="project-item">
                  <a class="item-link" href="">
                    <img class="thumbnail" src="../assets/images/project_7.png" alt="">
                  </a>
                </li>
                <li class="project-item">
                  <a class="item-link" href="">
                    <img class="thumbnail" src="../assets/images/project_9.png" alt="">
                  </a>
                </li>
                <li class="project-item">
                  <a class="item-link" href="">
                    <img class="thumbnail" src="../assets/images/project_6.png" alt="">
                  </a>
                </li>
                <li class="project-item">
                  <a class="item-link" href="">
                    <img class="thumbnail" src="../assets/images/project_5.png" alt="">
                  </a>
                </li>
                <li class="project-item">
                  <a class="item-link" href="">
                    <img class="thumbnail" src="../assets/images/project_8.png" alt="">
                  </a>
                </li>
              </ul>
            </div>
            <div id="tab-project-2"></div>
            <div id="tab-project-3"></div>
          </div>
        </div>
      </div>
    </section>

    <section class="news">
      <div class="container">
        <div class="section-title">
          <h2 class="title">news - event</h2>
          <img class="title-thumbnail" src="../assets/images/logo_small.png" alt="logo">
        </div>
        <ul class="news-list row">
          <li class="item col-4">
            <a href="">
              <img class="thumbnail" src="../assets/images/news_1.png" alt="">
              <p class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen-derit voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
            </a>
          </li>
          <li class="item col-4">
            <a href="">
              <img class="thumbnail" src="../assets/images/news_2.png" alt="">
              <p class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen-derit voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
            </a>
          </li>
          <li class="item col-4">
            <a href="">
              <img class="thumbnail" src="../assets/images/news_3.png" alt="">
              <p class="item-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p>
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehen-derit voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident</p>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="gallery">
      <div class="container">
        <div class="section-title">
          <h2 class="title">gallery</h2>
          <img class="title-thumbnail" src="../assets/images/logo_small.png" alt="logo">
        </div>
        <ul class="gallary-list row">
          <li class="item col-3">
            <a href="">
              <img class="thumbnail" src="../assets/images/gallary_1.png" alt="">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </a>
          </li>
          <li class="item col-3">
            <a href="">
              <img class="thumbnail" src="../assets/images/gallary_2.png" alt="">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </a>
          </li>
          <li class="item col-3">
            <a href="">
              <img class="thumbnail" src="../assets/images/gallary_3.png" alt="">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </a>
          </li>
          <li class="item col-3">
            <a href="">
              <img class="thumbnail" src="../assets/images/gallary_4.png" alt="">
              <p class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
            </a>
          </li>
        </ul>
      </div>
    </section>
  </main>

  <footer class="footer">
    <div class="footer-top">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3223.5491155625677!2d108.23130904957564!3d16.09309714702302!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142181c6aff9ce7%3A0x812e9c9524c87b34!2zTmd1eeG7hW4gSGnhu4FuLCBO4bqhaSBIacOqbiDEkMO0bmcsIFPGoW4gVHLDoCwgxJDDoCBO4bq1bmcsIFZpZXRuYW0!5e0!3m2!1sen!2s!4v1512891994665" frameborder="0" style="border:0" allowfullscreen></iframe>
      <h2 class="section-has-bg-green content">Contact with us</h2>
      <div class="container">
        <div class="contact">
          <div class="contact-frm">
            <p class="label">Please enter your infomations below:</p>
            <form class="user-info-frm" action="">
              <input class="contact-input" type="text" placeholder="Name">
              <input class="contact-input" type="text" placeholder="Phone Number">
            </form>
            <textarea class="contact-textarea" cols="30" rows="10" placeholder="Content"></textarea>
          </div>
          <div class="company-info">
            <h3 class="name">Company Interior Design Consultancy Home Stay</h3>
            <p class="field">Consulting - Interior design</p>
            <address class="address">Address: 109 Nguyen Hien, Son Tra, Da Nang</address>
            <p class="phonenumber">Phone: <a href="tel:01287069177">01287069177</a></p>
            <ul class="social">
              <li class="social-item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/facebook.png" alt="">
                </a>
              </li>
              <li class="social-item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/twitter.png" alt="">
                </a>
              </li>
              <li class="social-item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/google.png" alt="">
                </a>
              </li>
              <li class="social-item">
                <a href="">
                  <img class="thumbnail" src="../assets/images/skype.png" alt="">
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-bottom">
      <div class="container">
        <p class="coppyright">&copy;2017 -  Copyright by Home Stay Company Co.ltd</p>
        <p class="design-by">Design by <span class="text-green">DavidDong.vn</span></p>
      </div>
    </div>
  </footer>
  <script src="../js/index.js"></script>
</body>
</html>
